<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    @Scripts.Render("~/bundles/modernizr")
</head>

<body style="display:none">
    @Html.Action("_partialOne", "Home")
    <div id="contents">
        @RenderBody()
    </div>
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</html>

<style>

    ::-webkit-scrollbar {
        background: transparent;
        width: 5px;
        height: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #888;
    }

        ::-webkit-scrollbar-thumb:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }

    body {
        background-color: white;
    }

    #contents {
        position: absolute;
        transition: .3s;
        margin-left: 17%;
        background-color: white;
        height: 100%;
        width: 83%;
    }

  
    /* Start side navigation bar  */

    .side-nav {
        float: left;
        height: 100%;
        width: 17%;
        background-color: #34495E;
        color: #CCC;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: .3s;
        position: fixed;
        top: 0;
        left: 0;
        overflow: auto;
        z-index: 9999999
    }

        .side-nav .close-aside {
            position: absolute;
            top: 7px;
            right: 7px;
            cursor: pointer;
            color: #EEE;
        }

        .side-nav .heading {
            background-color: #34495E;
            padding: 15px 15px 15px 30px;
            overflow: hidden;
            border-bottom: 1px solid #2a2b3c
        }

           

        .side-nav .info {
            float: left;
            width: 69%;
            margin-left: 3%;
        }

        .side-nav .heading .info > h3 {
            margin: 0 0 5px
        }

            .side-nav .heading .info > h3 > a {
                color: #EEE;
                font-weight: 100;
                margin-top: 4px;
                display: block;
                text-decoration: none;
                font-size: 18px;
            }

                .side-nav .heading .info > h3 > a:hover {
                    color: #FFF;
                }

        .side-nav .heading .info > p {
            color: #BBB;
            font-size: 13px;
        }
        /* End heading */
        /* Start search */
        .side-nav .search {
            text-align: center;
            padding: 15px 30px;
            margin: 15px 0;
            position: relative;
        }

            .side-nav .search > input {
                width: 100%;
                background-color: black;
                border: none;
                border-bottom: 1px solid #23262d;
                padding: 7px 0 7px;
                color: #DDD
            }

                .side-nav .search > input ~ i {
                    position: absolute;
                    top: 22px;
                    right: 40px;
                    display: block;
                    color: #2b2f3a;
                    font-size: 19px;
                }
        /* End search */

        .side-nav .categories > li {
            padding: 17px 40px 17px 30px;
            overflow: hidden;
            border-bottom: 1px solid rgba(255, 255, 255, 0.02);
            cursor: pointer;
        }

            .side-nav .categories > li > a {
                color: #1abc9c;
                text-decoration: none;
            }
                /* Start num: there are three options primary, danger and success like Bootstrap */
                .side-nav .categories > li > a > .num {
                    line-height: 0;
                    border-radius: 3px;
                    font-size: 14px;
                    color: #FFF;
                    padding: 0px 5px
                }

    .dang {
        background-color: #f35959
    }

    .prim {
        background-color: #0275d8
    }

    .succ {
        background-color: #5cb85c
    }
    /* End num */
    .side-nav .categories > li > a:hover {
        color: #FFF
    }

    .side-nav .categories > li > i {
        font-size: 18px;
        margin-right: 20px
    }


    .side-nav .categories p {
        margin-left: 30px;
        color: #535465;
        margin-top: 10px;
    }

    /* End dropdown menu */

    .show-side-nav {
        -webkit-transform: translateX(-290px);
        -moz-transform: translateX(-290px);
        transform: translateX(-290px);
    }


    /* Start media query */
    @@media (max-width: 767px) {
        .side-nav .categories > li {
            padding-top: 12px;
            padding-bottom: 12px;
        }

        .side-nav .search {
            padding: 10px 0 10px 30px
        }
    }


</style>
<script>
    $(document).ready(function(){
    $("body").show();
});

</script>